# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

*.swp
*.swo
.env
.env.*

data/bronze/
data/silver/
data/gold/
data/csv/

# Airflow
airflow.db
airflow.cfg
logs/
unittests.cfg

# VSCode
.vscode/

# Arquivos do MacOS
.DS_Store
